.preferenceSection {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: white;

    .preferenceContent {
        .preferenceContainer {
            margin: 100px;
            padding: 60px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            border: 1px dotted rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            box-shadow: 2px 2px 4px 0px black;

            .preferenceText {
                display: flex;
                flex-direction: column;
                justify-content: centere;
                align-items: center;
                gap: 20px;

                .welcomeMessage {
                    font-size: 60px;
                    font-weight: 500;

                    span {
                        color: #f1641e;
                    }
                }

                .prefenceSelectText {
                    font-size: 30px;
                }
            }

            .preferenceButtons {
                display: flex;
                gap: 20px;

                .preferenceButton {
                    background-color: #f1641e;
                    border: 1px solid white;
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 20px;
                    border-radius: 10px;
                    display: flex;
                    gap: 5px;
                }

                .preferenceButton:hover {
                    cursor: pointer;
                    border: 1px solid #f1641e;
                    color: #f1641e;
                    background-color: white;
                    transition: all 0.3s;
                }
            }
        }
    }
}