.adminSingleProductModifySection {
    .adminSingleProductModifyContent {
        .adminSingleProductModfiyContainer {
            width: 800px;
            margin: 40px auto;
            padding: 40px;
            box-shadow: 2px 2px 4px 0 black;
        }

        .section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-block-end: 5px;

            .title {
                font-weight: 500;
            }

            input,
            textarea {
                width: 90%;
                padding: 10px;
            }
        }

        .submitButton {
            width: 20%;
            margin: 40px auto;
            background-color: #f1641e;
            border: 2px solid #f1641e;
            text-align: center;

            button {
                padding: 10px;
                width: 100%;
                color: white;
                font-weight: 500;
                font-size: 20px;
                border: 0;
                background-color: #f1641e;
            }

            button:hover {
                cursor: pointer;
                transition: all 0.3s;
                color: #f1641e;
                background-color: white;
            }
        }

        .productModifiedMessage {
            .message {
                text-align: center;
                background-color: rgb(100, 100, 246);
                color: white;
                padding: 10px;
                font-size: 14px;
            }
        }
    }
}