@import "../../../css-config/mixins.scss";

.singleProductSection {
    .singleProductContent {
        .singleProductContainer {
            display: flex;
            width: 80%;
            margin: 0 auto;
            padding-block: 40px;
            justify-content: center;

            @include xsm {
                flex-direction: column;
            }

            @include md {
                flex-direction: column;
            }

            .singleProductLeft {
                width: 420px;
                display: flex;
                gap: 10px;
                align-items: center;

                @include xsm {
                    width: 100%;
                }

                @include md {
                    width: 100%;
                }

                img {
                    width: 100%;
                    object-fit: contain;
                }

                .productReltedImage {
                    width: 400px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    @include xsm {
                        display: none;
                    }

                    @include md {
                        width: 20%;
                    }

                    .relatedImage {
                        width: 100%;
                        overflow: hidden;
                        height: 80px;

                        @include md {
                            height: 80px;
                        }

                        img {
                            height: 100%;
                            width: 100%;
                        }

                        img:hover {
                            transform: scale(1.1);
                            transition: all 0.3s;
                        }
                    }

                    .relatedImage:hover {
                        cursor: pointer;
                    }
                }

                .productImage {
                    width: 900px;
                    position: relative;

                    @include xsm {
                        width: 100%;
                    }

                    @include md {
                        width: 510px;
                    }

                    img {
                        width: 100%;
                    }

                    .productMobileImage {
                        width: 100%;
                        height: 174px;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .swipeButtons {
                            display: flex;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            justify-content: space-between;
                            height: 100%;
                            align-items: center;
                            color: grey;

                            svg {
                                margin-inline: 10px;
                            }
                        }
                    }
                }
            }

            .singleProductRight {
                width: 50%;
                padding: 40px;
                padding-inline-end: 0;

                @include xsm {
                    width: 100%;
                    padding: 0;
                }

                @include md {
                    width: 100%;
                    padding: 0;
                }

                .singleProductDetails {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .singleProductName {
                        font-size: 40px;
                        color: rgba(0, 0, 0, 0.6);

                        @include xsm {
                            font-size: 30px;
                        }
                    }

                    .singleProductStars {
                        display: flex;
                        gap: 30px;

                        @include xsm {
                            gap: 10px;
                        }

                        .star {
                            svg {
                                color: #ffa41c;

                                @include xsm {
                                    font-size: 13px;
                                }
                            }
                        }

                        .starsText {
                            color: rgba(0, 0, 0, 0.6);
                            font-weight: 500;
                        }
                    }

                    .singleProductPrice {
                        font-weight: 500;
                    }

                    .singleProductDiscountedPrice {
                        color: rgb(112, 39, 201);
                        font-weight: 500;
                    }

                    .singleProdcutDescription {
                        font-size: 14px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .singleProductIcons {
                        display: flex;
                        justify-content: space-evenly;
                        padding-block: 20px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.6);

                        .singleProductIcon {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;

                            svg {
                                font-size: 20px;
                                padding: 10px;
                                border-radius: 50%;
                                background-color: rgba(0, 0, 0, 0.12);
                            }

                            .iconText {
                                font-size: 14px;
                                color: rgba(0, 0, 0, 0.6);
                                font-weight: 500;

                                @include xsm {
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .singleProductBrandAndStockDescription {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.6);
                        font-weight: 500;
                        display: flex;
                        gap: 20px;

                        .singleProductBrandAndStockDescriptionLeft,
                        .singleProductBrandAndStockDescriptionRight {
                            display: flex;
                            flex-direction: column;

                            .leftText {
                                padding-inline-start: 20px;
                            }

                            .rightText {
                                color: black;
                            }
                        }
                    }
                }

                .singleProductCartSection {
                    width: 50%;
                    margin: 30px auto;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    @include xsm {
                        width: 100%;
                        flex-direction: row;
                    }

                    .counters {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .counter {
                            padding: 5px;
                            text-align: center;
                            width: 20px;
                            background-color: rgba(0, 0, 0, 0.04);

                            svg {
                                font-size: 14px;
                            }
                        }

                        .counter:hover {
                            cursor: pointer;
                        }

                        .leftCounter {
                            border: 1px solid rgba(0, 0, 0, 0.04);
                            border-right: 0;
                        }

                        .value {
                            width: 50px;
                            text-align: center;
                            padding: 5px;
                            font-weight: 500;
                            border: 1px solid rgba(0, 0, 0, 0.04);
                            border-inline: 0;
                        }

                        .rightCounter {
                            border: 1px solid rgba(0, 0, 0, 0.04);
                            border-left: 0;
                        }
                    }

                    .cartButton {
                        border: 1px solid #f1641e;
                        width: 50%;
                        margin: 0 auto;
                        padding: 15px;
                        text-align: center;
                        font-weight: 500;
                        color: #f1641e;

                        @include xsm {
                            width: 100%;
                            padding: 5px;
                        }
                    }

                    .cartButton:hover {
                        cursor: pointer;
                        color: white;
                        background-color: #f1641e;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}