@import '../../../css-config/mixins.scss';

.servicesSection {
    .servicesContent {
        display: flex;
        margin: 60px auto;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @include xsm {
            gap: 20px;
        }

        @include sm {
            gap: 20px;
        }

        @include md {
            gap: 20px;
        }

        .firstServiceColumn {
            padding: 60px;
            background-color: #f1e8e3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            gap: 10px;

            @include xsm {
                padding: 30px;
            }

            @include sm {
                padding: 30px;
            }

            .firstServiceColumnIcon {
                background-color: white;
                color: blue;
                border-radius: 50%;
                padding: 10px;
                font-size: 30px;
                width: 20%;
                text-align: center;
            }
        }

        .secondServiceColumn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @include xsm {
                gap: 10px;
            }

            @include sm {
                gap: 10px;
            }

            .upperRow {
                padding: 30px 60px;
                background-color: #f1e8e3;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                gap: 10px;

                @include xsm {
                    padding: 30px;
                }

                @include sm {
                    padding: 30px;
                }

                .upperRowIcon {
                    background-color: white;
                    color: blue;
                    border-radius: 50%;
                    text-align: center;
                    padding: 10px;
                }
            }

            .lowerRow {
                padding: 30px 50px;
                background-color: #f1e8e3;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                gap: 10px;

                @include xsm {
                    padding: 30px 20px;
                }

                @include sm {
                    padding: 30px 20px;
                }

                .lowerRowIcon {
                    padding: 10px;
                    background-color: white;
                    color: blue;
                    border-radius: 50%;
                    text-align: center;
                }
            }
        }

        .thirdServiceColumn {
            padding: 60px;
            background-color: #f1e8e3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            gap: 10px;

            @include xsm {
                padding: 30px;
            }

            @include sm {
                padding: 30px;
            }

            .thirdServiceColumnIcon {
                background-color: white;
                color: blue;
                border-radius: 50%;
                padding: 10px;
                font-size: 30px;
                width: 20%;
                text-align: center;
            }
        }
    }
}