@import "../../css-config/mixins.scss";

.adminSection {
    .adminContent {
        width: 1000px;
        margin: 40px auto;

        .adminWelcomeMessage {
            font-size: 40px;
            text-align: center;
            margin-block-end: 20px;
            font-weight: 500;

            span {
                color: #f1641e;
            }
        }

        .adminPanelButtons {
            display: flex;
            margin-block-end: 10px;

            .adminPanelButton {
                padding: 20px 5px;
                width: 25%;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
            }

            .adminPanelButton:hover {
                cursor: pointer;
                transition: all 0.3s;
            }

            .showActiveStatus {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}